<!DOCTYPE html>
<html>
<head>
  <title>Expense Approved</title>
</head>
<body>
  <h2>Expense Approved</h2>
  <p>Respected Sir,</p>
  <p>The following expense has been approved:</p>
  <ul>
    <li>Expense Name: <%= @expense.application_name %></li>
    <li>Amount: <%= @expense.amount %></li>
  </ul>
  <p>Regards,</p>
  <p>Smartflow team</p>
</body>
</html>
